# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# IDE
.vscode/
*.code-workspace
.idea/

# Testing
.tox/
.coverage
.pytest_cache/
htmlcov/
test.py
.cache
.cache_ggshield

# Flask
instance/

# Logs
logs/
*.log


# OS
.DS_Store
Thumbs.db
